server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: usuario-service
          uri: lb://usuario-service
          predicates:
            - Path=/usuario/**

        - id: reservas-service
          uri: lb://reservas-service
          predicates:
            - Path=/api/reservation/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
